html, body {
    height: 100%;
    text-align: center;
    font-family: 'Architects Daughter', cursive;
    background-color: #8d8d8d;
    color: white;
}

.container {
    position: relative;
    top: 50%;
    transform: translateY(-100%);
    text-align: center;
}

.load{
    justify-content: center;
}

#table {
    height: 80%;
    overflow: scroll;
    outline: 3px solid lightpink;
    margin: 0 auto;
    margin-top: 20px;
    width: 60%;
    max-width: 1000px;
}
.header{
    background-color: black;
}
.row{
    margin: 10px;
    height: 120px;
    outline: 3px solid mediumaquamarine;
}
#table .row:nth-child(odd){
    background-color: #c7c7c7;
}
#table .row:nth-child(even){
    background-color: #afafaf;
}
.column{
    /*background-color: lightpink;*/
    margin: 20px 0;
}
/************Loading Message CSS Start************/
#loadingText{
    border-radius: 50%;
    width: 160px;
    height: 160px;
    animation: spin 2s linear infinite;
    border-top: 16px solid blue;
    border-right: 16px solid green;
    border-bottom: 16px solid red;
    border-left: 16px solid pink;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    margin: -100px 0 0 -75px;
    -webkit-animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/************Loading Message CSS End************/

